# SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
\.idea/
/build/
/vendor/
/lib/VendorPsr/
/es8/vendor/
/es8/lib/Vendor8/
/es8/lib/Vendor8Psr/
/es8/build/
